footer{
    background: var(--cor02);
    width: 100%;
    padding: 1%;
    transition: var(--themeChangeTime);
}

.footerContent{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.footerContent > div > a{
    color: var(--corFonte02);
    transition: var(--themeChangeTime);
    font-size: 1.6vw;
}

.footerContent > div > a:hover{
    color: var(--corFonte01);
    transition: var(--themeChangeTime);
}

.footerContent > div > p{

    color: var(--corFonte02);
    transition: var(--themeChangeTime);
    font-size: 1.8vw;
}

